<h1>INICIAR SESIÓN</h1>
<form>
    <label for = "email">Email:</label>
    <input type="email" id="email">
    <label for = "contrasena">Contraseña:</label>
    <input type="password" id="contrasena">
    <button type="submit">Iniciar sesión</button>
</form>

<p>
<a href="/register">si no tenes cuenta, registrate aquí.</a><br>
<a href="/">OK</a>



</p>
